$color-primary: #663728;
$color-primary--light: #956151;
$color-primary--dark: #380e00;
$color-secondary: #deccb2;
$color-secondary--light: #ffffe4;
$color-secondary--dark: #ac9b82;
$color-tertiary: #f3e8f1;
$color-error: #c70404;

$border-radius: .5em;

$breakpoints: (
    mid-screen: 512px,
    wide-screen: 800px
);