.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    @extend %flex-col;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    z-index: 5;
    transition: opacity .2s linear;
    overflow: hidden;
}

.modal {
    position: relative;
    padding: 1em;
    width: 400px;
    border: 1px solid $color-secondary;
    border-radius: 1em;
    background-color: #fff;
    z-index: 6;

    > * + * {
        margin-top: 1em;
    }
    

    &__message, &__error {
        text-align: center;
    }

    &__error {
        color: red;
    }

    &__buttons {
        @extend %flex-row;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: -0.5em;
        left: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        border-radius: inherit;
        background-color: rgba(255,255,255,.3);
        z-index: -1;
    }
}

.overlay.fade-out {
    opacity: 0;
}