form > * + * {
    margin-top: 1em;
}

label, input, select {
    display: inline-block;
    padding: .7em 1em;
    border: 1px solid $color-primary--dark;
}

label {
    width: 20%;
    min-width: 6em;
    text-align: right;
    border-right: none;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $color-secondary--dark;
    color: #fff;
}

input, select {
    width: calc(100% - 6em);

    @include mid-screen {
        width: 80%;
    }
    
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: 0;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}