section:first-of-type {
    flex: 1;
    margin-top: 64px;

    @include mid-screen {
        margin-top: 93px;
    }

    @include wide-screen {
        margin-top: 0;
    }
}


.home-title {
    &__background {
        position: relative;
        align-self: flex-start;
        flex-basis: 100%;
        margin-top: 0;
        margin-bottom: 1em;
        height: 55vw;
        background: linear-gradient(to top, rgba(0,0,0,.6) 25%, rgba(0,0,0,.05) 60%), url(~@img/bear_background.jpg);
        background-size: cover;
    }

    &__title {
        position: absolute;
        bottom: 17%;
        margin: 0 auto;
        width: 100%;
        max-width: 1024px;
        left: 0;
        right: 0;
        text-align: center;

        @include mid-screen {
            padding-left: 10%;
            text-align: left;
        }
        
        color: #fff;
    }
}

#main {
    margin: 0 auto;
    max-width: 1024px;

    > * {
        opacity: 0;
        animation: card-animation .35s ease-out both;
    }
}

.product-list {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#addToCartForm > div {
    @extend %flex-row;
    flex-wrap: wrap;
}

#buyForm {
    width: 100%;
}

.cart {
    margin: 0 auto;
    height: 100%;
    font-size: .8rem;

    @include wide-screen {
        display: flex;
        justify-content: center;
        font-size: initial;
    }

    &__title {
        margin-top: 2em;
    }

    &__table {
        margin: 2em auto 1em auto;
        width: 100%;
        font-size: inherit;
        
        @include wide-screen {
            width: 80%;
        }

        border-collapse: collapse;

        thead, tbody {
            border-bottom: 2px solid $color-primary--light;
        }

        td, th {
            padding: .5em .3em;

            @include wide-screen {
                padding: .7em 1em;
            }
            text-align: center;

            &:first-of-type {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &:first-of-type, &:nth-of-type(2) {
                text-align: left;
            }
        }

        td {
            &:nth-of-type(4), &:nth-of-type(5) {
                text-align: right;
            }
        }

        td:nth-of-type(4), th:nth-of-type(4) {
            display: none;

            @include mid-screen {
                display: table-cell;
            }
        }
    }

    &__delete-item {
        width: 2em;
    }

    &__total {
        font-weight: bold;
        text-align: center;
    }

    &__button-div {

        @extend %flex-col;
        padding: 1em;

        [type=reset] {
            margin-top: 1em;
            order: 2;
        }

        [type=submit] {
            order: 1;
        }

        @include wide-screen {
            flex-direction: row;

            [type=reset], [type=submit] {
                margin-top: 0;
                order: initial;
            }
        }
    }

    &__details {
        margin: 2em auto 0 auto;
        padding: 0 1em;
        font-size: 1rem;

        > * + * {
            margin-top: 1em;
        }

        > div {
            @extend %flex-row;
            flex-wrap: wrap;
        }

        @include wide-screen {
            width: 80%;
            padding: 0;
        }

        &__title {
            margin-top: 2em;
            margin-bottom: 1em;
        }
    }
}

.empty-cart {
    > div {
        margin-top: 20%;
    }
    
    &__title, &__content {
        margin: 2em;
        text-align: center;
    }
}

.order-confirmation {
    @extend %flex-col;
    justify-content: center;
    align-items: center;

    text-align: center;

    div {
        margin: 0 1em 20% 1em;
        padding: 2em;
        border: 1px solid $color-primary--light;
        border-radius: 1em;
        background-color: $color-secondary--light;
        
        > * + * {
            margin-top: 1em;
        }
    }

    &__title {
        margin: 10% 1em 2em 1em;
    }
}