section:first-of-type {
    margin-top: 75px;

    @include mid-screen {
        margin-top: 79px;
    }

    @include wide-screen {
        margin-top: 0;
    }
}

.home-title {
    align-self: flex-start;
    flex-basis: 100%;
    margin-top: 0;
    margin-bottom: 1em;
    @include wide-screen {
        margin-bottom: 2em;
    }
    padding: 2em 0;
    background-color: $color-secondary;
    color: #fff;
}

#main {
    margin: 0 auto;
    max-width: 1024px;
}

.product-list {
    @extend %flex-row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#addToCartForm > div {
    @extend %flex-row;
}

.cart {
    margin: 0 auto;
    height: 100%;
    font-size: .8rem;

    @include wide-screen {
        display: flex;
        justify-content: center;
        font-size: initial;
    }

    &__title {
        margin-top: 2em;
    }

    &__table {
        margin: 2em auto 1em auto;
        width: 100%;
        font-size: inherit;
        
        @include wide-screen {
            width: initial;
        }

        border-collapse: collapse;

        thead, tbody {
            border-bottom: 2px solid $color-secondary;
        }

        td, th {
            padding: .5em .3em;

            @include wide-screen {
                padding: .7em 1em;
            }
            text-align: center;

            &:first-of-type {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            &:first-of-type, &:nth-of-type(2) {
                text-align: left;
            }
        }

        td {
            &:nth-of-type(4), &:nth-of-type(5) {
                text-align: right;
            }
        }

        td:nth-of-type(4), th:nth-of-type(4) {
            display: none;

            @include mid-screen {
                display: table-cell;
            }
        }
    }

    &__delete-item {
        width: 2em;
    }

    &__total {
        font-weight: bold;
        text-align: center;
    }

    &__button-div {

        @extend %flex-col;
        padding: 1em;

        [type=reset] {
            margin-top: 1em;
            order: 2;
        }

        [type=submit] {
            order: 1;
        }

        @include wide-screen {
            flex-direction: row;

            [type=reset], [type=submit] {
                margin-top: 0;
                order: initial;
            }
        }
    }
}